.header {
    padding: 10px 0;
    background: #fff;
    box-shadow: 0 10px 24px rgba(233, 238, 242, 0.4);
  }
  
  .header img {
    width: 100px;
  }
  
  .header-user {
    color: #e0e0e0;
    font-size: 30px;
    margin-left: 20px;
    cursor: pointer;
  }
  